
  /* -------------------------Color Behind picture----------------------------- */
@keyframes bgcolor {
    0% {
        background-color: orangered;
    }
  
    30% {
        background-color: lightblue;
    }
  
    60% {
        background-color: purple;
    }
  
    90% {
        background-color: violet;
    }
  
    100% {
        background-color: orangered;
    }
  }
  /* Animation for bg colour */
  body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  /* Different text sizes and increments */
  body, html{
    height: 100%;
    margin: 0;
    font-size: 23px;
    font-family: "Lato", sans-serif;
    font-family: Fontawesome;
    font-weight: 400;
    line-height: 1.8em;
    color: #282e34;
}
/* Parralax effect */
.jpeg1, .jpeg2, .jpeg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* fixed=Parralax effect */
    background-attachment: fixed;
}
/* Picture sizing */
.jpeg1{
    min-height: 80%;
    background-image: url('../images/cover-image.jpg');
}
.jpeg2{
    min-height: 400px;
    background-image: url('../images/middle.jpg');
  }
.jpeg3{
    min-height: 400px;
    background-image: url('../images/footer.jpg');
 }
 a:hover{
     color:black;
     opacity: 0.4;
 }
 /* Moving text to center */
 .section{
     text-align: center;
     padding: 35px 70px;
 }
 /* light color for first section */
 .sec-light{
     background-color: grey;
     color: rgb(71, 70, 70);
 }
 /* dark color for second section */
 .sec-dark{
     background-color: #282e34;
     color: #ddd;
 }
 /* text sizing and adjustments */
 .paragragh{
     position: absolute;
     top: 50%;
     width: 100%;
     text-align: center;
     color: black;
     font-size: 34px;
     letter-spacing: 5px;
     text-transform: uppercase;
 }
 /* border color */
 .border{
     background-color: rgb(29, 16, 16);
     color: white;
     padding: 25px;
     opacity: 0.50;
 }
 /* border slightly transparent */
 .border.transparent{
     margin-top: 40px;
     opacity: 0.70;
 }
 /* Icons made white */
 a{
     color: white;
 }
/* Mobile responsiveness */
@media (min-width: 301px) and (max-width: 558px) {
    .paragragh{
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 16px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    body, html{
        height: 100%;
        margin: 0;
        font-size: 12px;
        font-family: "Lato", sans-serif;
        font-family: Fontawesome;
        font-weight: 200;
        line-height: 1.6em;
        color: #282e34;
    }
 .border{
    background-color: rgb(29, 16, 16);
    color: white;
    padding: 25px;
    opacity: 0.50;
}
.border.transparent{
    margin-top: 40px;
    opacity: 0.70;
    }
 }